* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #000;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 100%;

  max-width: 1440px;
  max-height: 1024px;
}

main > section {
  position: relative;
  isolation: isolate;

  font-family: "Almarai", sans-serif;

  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: fixed;
    inset: 0;

    background-color: inherit;
    z-index: -1;
  }
}

h1 {
  font-family: "Red Rose", sans-serif;
}
